@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userLogin = WebApplicationDe10.Helpers.InfoUserLogin.GetLoggedInUserInfo();
}

<style>
    .custom-form-search {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
    }
    .error {
        font-size: 1rem;
        width: 100%;
    }
    #dataTable_wrapper {
        width: 98%;
    }
</style>

<div class="card-body">
    <form action="@Url.Action("Index", "DanhMuc", new { area = "Admin" })" method="GET" class="mb-5 custom-form-search">
        <div class="row g-3">
            <div class="mb-3 col-md-5">
                <label for="email" class="form-label">Tên danh mục</label>
                <input type="text" class="form-control" id="TenDanhMuc" name="TenDanhMuc" value="@(ViewBag.paramsGet?.TenDanhMuc)">
            </div>
            <div class="mb-3 col-md-5">
                <label for="role" class="form-label">Mô tả</label>
                <input type="text" class="form-control" name="MoTa" id="MoTa" value="@(ViewBag.paramsGet?.MoTa)">
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end align-items-end">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên danh mục</th>
                    <th>Mô tả</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.listDanhMuc)
                {
                    <tr>
                        <td>@item.MaDanhMuc</td>
                        <td>@item.TenDanhMuc</td>
                        <td>@item.MoTa</td>
                        <td>@item.NgayTao</td>
                        <td>@item.NgayCapNhat</td>
                        <td>
                            <button class="btn btn-warning btn-edit"
                                    data-MaDanhMuc="@item.MaDanhMuc"
                                    data-TenDanhMuc="@item.TenDanhMuc"
                                    data-MoTa="@item.MoTa"
                            >
                                Chỉnh sửa
                            </button>
                            <button class="btn btn-danger btn-delete"
                                    data-MaDanhMuc="@item.MaDanhMuc"
                                    data-TenDanhMuc="@item.TenDanhMuc"
                            >
                                Xóa
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Modal delete -->
    <div class="modal fade"
         id="modalDelete"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalLabelDelete"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelDelete">Xóa danh mục</h5>
                    <button type="button" class="btn-close btn-modal-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal-close" data-coreui-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-modal-delete">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update -->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalLabelEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelEdit">Chỉnh sửa danh mục</h5>
                    <button type="button" class="btn-close btn-modal-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEdit">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Id:</label>
                            <input type="text" disabled class="form-control MaDanhMuc" name="MaDanhMuc" value="">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Tên danh mục:</label>
                            <input type="text" class="form-control TenDanhMuc" name="TenDanhMuc" value="">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Mô tả:</label>
                            <input type="text" class="form-control MoTa" name="MoTa" value="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal-close" data-coreui-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-modal-edit">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // info modal
            var modalDelete = new bootstrap.Modal(document.getElementById("modalDelete"), {});
            var modalEdit = new bootstrap.Modal(document.getElementById("modalEdit"), {});

            // btn close modal
            $(document).on("click", ".btn-modal-close", function () {
                modalDelete.hide();
                modalEdit.hide();
            });

            // btn delete modal
            $(document).on("click", ".btn-modal-delete", function () {
                let data = $(this).data();
                $.ajax({
                    url: '@Url.Action("Delete", "DanhMuc", new { area = "Admin" })',
                    type: 'POST',
                    data: {
                        MaDanhMuc: data.MaDanhMuc
                    },
                    success: function (response) {
                        if (response.success) {
                            alert("Xóa danh mục thành công");
                            location.reload();
                        } else {
                            alert("Xóa danh mục thất bại");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi xóa danh mục");
                    }
                });
            });

            // btn edit modal
            $(document).on("click", ".btn-modal-edit", function () {
                let data = $(this).data();
                $.ajax({
                    url: '@Url.Action("Edit", "DanhMuc", new { area = "Admin" })',
                    type: 'POST',
                    data: $("#formEdit").serialize() + '&MaDanhMuc=' + data.MaDanhMuc,
                    success: function (response) {
                        if (response.success) {
                            alert("Chỉnh sửa danh mục thành công");
                            location.reload();
                        } else {
                            alert("Chỉnh sửa danh mục thất bại");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi chỉnh sửa danh mục");
                    }
                });
            });

            // function edit user
            $(document).on("click", ".btn-edit", function () {
                let data = $(this).data();
                $(".btn-modal-edit").data("MaDanhMuc", data.madanhmuc);
                $(".MaDanhMuc").val(data.madanhmuc);
                $(".TenDanhMuc").val(data.tendanhmuc);
                $(".MoTa").val(data.mota);
                modalEdit.show();
            });

            // function delete user
            $(document).on("click", ".btn-delete", function () {
                let data = $(this).data();
                $(".modal-title").text("Xóa danh mục");
                $(".modal-body").text("Bạn có chắc chắn muốn xóa " + data.tendanhmuc);
                $(".btn-modal-delete").data("MaDanhMuc", data.madanhmuc);

                modalDelete.show();
            });

            // validate
            $("#formEdit").validate({
                rules: {
                    TenDanhMuc: {
                        required: true,
                        maxlength: 20
                    }
                }
            });
        });
    </script>
}