<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Admin</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Css/custom.css")
    @Styles.Render("~/Css/admin-layout.css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        var userLogin = WebApplicationDe10.Helpers.InfoUserLogin.GetLoggedInUserInfo();
    }
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home", new { area = "Admin" })">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TDDĐN</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - layout 1 -->
            <li class="nav-item @(ViewBag.ActivePage == "Index" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "Admin" })">
                    <i class="fa fa-user"></i>
                    <span>Danh sách Admin</span>
                </a>
            </li>

            <!-- Nav Item - layout 2 -->
            <li class="nav-item @(ViewBag.ActivePage == "CreateUser" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Create", "User", new { area = "Admin" })">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Tạo Admin</span>
                </a>
            </li>

            <!-- Nav Item - layout 3 -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@userLogin.TenQuanTriVien</span>
                                <img class="img-profile rounded-circle" src="~/Content/Images/allin.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Account")" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Web Application Đề 10 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/ScriptsValidate/validation-config.js")
    @Scripts.Render("~/ScriptsValidate/validation-message.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Scripts/admin-layout.js")
    @RenderSection("scripts", required: false)
</body>
</html>
