<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Login</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Css/custom.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/ScriptsValidate/validation-config.js")
    @Scripts.Render("~/ScriptsValidate/validation-message.js")
    @RenderSection("scripts", required: false)
</body>
</html>
