@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userLogin = WebApplicationDe10.Helpers.InfoUserLogin.GetLoggedInUserInfo();
}

<style>
    .custom-form-search {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
    }
    .error {
        font-size: 1rem;
        width: 100%;
    }
    #dataTable_wrapper {
        width: 98%;
    }
</style>

<div class="card-body">
    <form action="@Url.Action("Index", "ThuongHieu", new { area = "Admin" })" method="GET" class="mb-5 custom-form-search">
        <div class="row g-3">
            <div class="mb-3 col-md-5">
                <label for="email" class="form-label">Tên thương hiệu</label>
                <input type="text" class="form-control" id="TenThuongHieu" name="TenThuongHieu" value="@(ViewBag.paramsGet?.TenThuongHieu)">
            </div>
            <div class="mb-3 col-md-5">
                <label for="role" class="form-label">Quốc gia</label>
                <input type="text" class="form-control" name="QuocGia" id="MoTa" value="@(ViewBag.paramsGet?.QuocGia)">
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end align-items-end">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên thương hiệu</th>
                    <th>Quốc gia</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.listThuongHieu)
                {
                    <tr>
                        <td>@item.MaThuongHieu</td>
                        <td>@item.TenThuongHieu</td>
                        <td>@item.QuocGia</td>
                        <td>@item.NgayTao</td>
                        <td>@item.NgayCapNhat</td>
                        <td>
                            <button class="btn btn-warning btn-edit"
                                    data-MaThuongHieu="@item.MaThuongHieu"
                                    data-TenThuongHieu="@item.TenThuongHieu"
                                    data-QuocGia="@item.QuocGia"
                            >
                                Chỉnh sửa
                            </button>
                            <button class="btn btn-danger btn-delete"
                                    data-MaThuongHieu="@item.MaThuongHieu"
                                    data-TenThuongHieu="@item.TenThuongHieu"
                            >
                                Xóa
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Modal delete -->
    <div class="modal fade"
         id="modalDelete"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalLabelDelete"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelDelete">Xóa thương hiệu</h5>
                    <button type="button" class="btn-close btn-modal-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal-close" data-coreui-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-modal-delete">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal update -->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalLabelEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelEdit">Chỉnh sửa thương hiệu</h5>
                    <button type="button" class="btn-close btn-modal-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEdit">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Id:</label>
                            <input type="text" disabled class="form-control MaThuongHieu" name="MaThuongHieu" value="">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Tên thương hiệu:</label>
                            <input type="text" class="form-control TenThuongHieu" name="TenThuongHieu" value="">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Quốc gia:</label>
                            <input type="text" class="form-control QuocGia" name="QuocGia" value="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal-close" data-coreui-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-modal-edit">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // info modal
            var modalDelete = new bootstrap.Modal(document.getElementById("modalDelete"), {});
            var modalEdit = new bootstrap.Modal(document.getElementById("modalEdit"), {});

            // btn close modal
            $(document).on("click", ".btn-modal-close", function () {
                modalDelete.hide();
                modalEdit.hide();
            });

            // btn delete modal
            $(document).on("click", ".btn-modal-delete", function () {
                let data = $(this).data();
                console.log(data);
                $.ajax({
                    url: '@Url.Action("Delete", "ThuongHieu", new { area = "Admin" })',
                    type: 'POST',
                    data: {
                        MaThuongHieu: data.MaThuongHieu
                    },
                    success: function (response) {
                        if (response.success) {
                            alert("Xóa thương hiệu thành công");
                            location.reload();
                        } else {
                            alert("Xóa thương hiệu thất bại, có sản phẩm đang được sử dụng bởi danh mục này");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi xóa thương hiệu");
                    }
                });
            });

            // btn edit modal
            $(document).on("click", ".btn-modal-edit", function () {
                let data = $(this).data();
                $.ajax({
                    url: '@Url.Action("Edit", "ThuongHieu", new { area = "Admin" })',
                    type: 'POST',
                    data: $("#formEdit").serialize() + '&MaThuongHieu=' + data.MaThuongHieu,
                    success: function (response) {
                        if (response.success) {
                            alert("Chỉnh sửa thương hiệu thành công");
                            location.reload();
                        } else {
                            alert("Chỉnh sửa thương hiệu thất bại");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi chỉnh sửa thương hiệu");
                    }
                });
            });

            // function edit user
            $(document).on("click", ".btn-edit", function () {
                let data = $(this).data();
                $(".btn-modal-edit").data("MaThuongHieu", data.mathuonghieu);
                $(".MaThuongHieu").val(data.mathuonghieu);
                $(".TenThuongHieu").val(data.tenthuonghieu);
                $(".QuocGia").val(data.quocgia);
                modalEdit.show();
            });

            // function delete user
            $(document).on("click", ".btn-delete", function () {
                let data = $(this).data();
                $(".modal-title").text("Xóa thương hiệu");
                $(".modal-body").text("Bạn có chắc chắn muốn xóa " + data.tenthuonghieu);
                $(".btn-modal-delete").data("MaThuongHieu", data.mathuonghieu);

                modalDelete.show();
            });

            // validate
            $("#formEdit").validate({
                rules: {
                    TenThuongHieu: {
                        required: true,
                        maxlength: 20
                    },
                    QuocGia: {
                        required: true
                    }
                }
            });
        });
    </script>
}