@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .error {
        font-size: 1rem;
        width: 100%;
    }
</style>

<div class="card-body">
    <form method="POST" action="/Admin/SanPham/Create" enctype="multipart/form-data" class="row g-3">
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <label class="form-label">Tên sản phẩm</label>
            <input type="text" name="TenSanPham" class="form-control" placeholder="Tên sản phẩm">
        </div>
        <div class="col-md-12">
            <label class="form-label">Danh mục</label>
            <select class="form-select" name="MaDanhMuc" id="MaDanhMuc">
                @foreach (var item in @ViewBag.listDanhMuc)
                {
                    <option value="@item.MaDanhMuc">@item.TenDanhMuc</option>
                }
            </select>
        </div>
        <div class="col-md-12">
            <label class="form-label">Thương hiệu</label>
            <select class="form-select" name="MaThuongHieu" id="MaThuongHieu">
                @foreach (var item in @ViewBag.listThuongHieu)
                {
                    <option value="@item.MaThuongHieu">@item.TenThuongHieu</option>
                }
            </select>
        </div>
        <div class="col-md-12">
            <label class="form-label">Mô tả</label>
            <input type="text" name="MoTa" class="form-control" placeholder="Mô tả">
        </div>
        <div class="col-md-12">
            <label class="form-label">Giá sản phẩm</label>
            <input type="number" name="GiaSanPham" class="form-control" placeholder="Giá sản phẩm">
        </div>
        <div class="col-md-12">
            <label class="form-label">Số lượng tồn kho</label>
            <input type="number" name="SoLuongTonKho" class="form-control" placeholder="Số lượng tồn kho">
        </div>
        <div class="col-md-12">
            <label class="form-label">Thời gian bảo hành</label>
            <input type="number" name="ThoiGianBaoHanh" class="form-control" placeholder="Thời gian bảo hành">
        </div>
        <div class="col-md-12">
            <label class="form-label">Ngày ra mắt</label>
            <input type="date" name="NgayRaMat" class="form-control">
        </div>
        <div class="col-md-12">
            <label class="form-label">Hình ảnh</label>
            <input type="file" class="form-control" name="URLHinhAnh" id="URLHinhAnh" accept="image/*" />
        </div>
        <div class="form_chi_tiet_hinh_anh">
            <label class="form-label">Chi tiết hình ảnh</label>
            <input type="file" class="form-control" accept="image/*" name="HinhAnhFiles" />
        </div>
        <div class="col-12">
            <button type="button" id="addChiTietHinhAnh" class="btn btn-dark">Thêm chi tiết hình ảnh</button>
        </div>
        <div class="col-md-12" id="thongSoKyThuatContainer">
        </div>
        <div class="col-12">
            <button type="button" id="addThongSoKyThuat" class="btn btn-dark">Thêm thông số kỹ thuật</button>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>
        </div>
    </form>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addThongSoKyThuat').click(function () {
                let index = $(".form_add_thong_so_ky_thuat").length;
                var template = `
                    <div class="form-group form_add_thong_so_ky_thuat">
                        <label for="TenThongSo">Tên thông số ${index + 1}</label>
                        <input type="text" name="ThongSoKyThuatSP[${index}].TenThongSo" class="form-control" />
                        <label for="GiaTriThongSo">Giá trị thông số ${index + 1}</label>
                        <input type="text" name="ThongSoKyThuatSP[${index}].GiaTriThongSo" class="form-control" />
                    </div>
                `;
                $('#thongSoKyThuatContainer').append(template);
            });

            $('#addChiTietHinhAnh').click(function () {
                var template = `
                    <input type="file" class="form-control mt-2" accept="image/*" name="HinhAnhFiles" />
                `;
                $('.form_chi_tiet_hinh_anh').append(template);
            });

            $("form").validate({
                rules: {
                    TenSanPham: {
                        required: true,
                        maxlength: 20
                    },
                    MoTa: {
                        required: true
                    },
                    GiaSanPham: {
                        required: true,
                        maxlength: 20,
                        digits: true
                    },
                    SoLuongTonKho: {
                        required: true,
                        maxlength: 10,
                        digits: true
                    },
                    ThoiGianBaoHanh: {
                        required: true,
                        maxlength: 5,
                        digits: true
                    },
                    NgayRaMat: {
                        required: true
                    },
                    URLHinhAnh: {
                        required: true
                    },
                    HinhAnhFiles: {
                        required: true
                    }
                }
            });
        });
    </script>
}