@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userLogin = WebApplicationDe10.Helpers.InfoUserLogin.GetLoggedInUserInfo();
}

<style>
    .custom-form-search {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
    }
    .error {
        font-size: 1rem;
        width: 100%;
    }
    #dataTable_wrapper {
        width: 98%;
    }
</style>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên khách hàng</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                    <th>Địa chỉ giao</th>
                    <th>Ngày đặt hàng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.listThongTinDatHang)
                {
                    <tr>
                        <td>@item.MaDonHang</td>
                        <td>@item.TenKhachHang</td>
                        <td>@item.TenSanPham</td>
                        <td>@item.GiaDonVi.ToString("N0") ₫</td>
                        <td>@item.SoLuong</td>
                        <td>@((item.GiaDonVi * item.SoLuong).ToString("N0")) ₫</td>
                        <td>@item.DiaChiGiaoHang</td>
                        <td>@item.NgayDatHang.ToString("yyyy/MM/dd hh:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
}