@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .custom-form-search {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<div class="card-body">
    <form action="@Url.Action("Index", "Home", new { area = "Admin" })" method="GET" class="mb-5 custom-form-search">
        <div class="row g-3">
            <div class="mb-3 col-md-5">
                <label for="email" class="form-label">Email address</label>
                <input type="text" class="form-control" id="email" name="email" value="@(ViewBag.paramsGet?.email)">
            </div>
            <div class="mb-3 col-md-5">
                <label for="role" class="form-label">Role</label>
                <input type="text" class="form-control" name="role" id="password" value="@(ViewBag.paramsGet?.role)">
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end align-items-end">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.listUser)
                {
                    <tr>
                        <td>@item.userId</td>
                        <td>@item.email</td>
                        <td>@item.username</td>
                        <td>@item.role</td>
                        <td>
                            <button class="btn btn-warning">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        
    </script>
}