@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.listUser)
                {
                    <tr>
                        <td>@item.userId</td>
                        <td>@item.email</td>
                        <td>@item.username</td>
                        <td>@item.role</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Thêm các script khác ở đây -->
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true,
                "pageLength": 10,
                "lengthMenu": false,
                "lengthChange": false,
                "pagingType": "full_numbers", // Hiển thị các nút phân trang chi tiết hơn (First, Last, Next, Previous)
                "searching": false, // Kích hoạt tìm kiếm
                "ordering": true, // Kích hoạt sắp xếp
                "language": {
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    }
                }
            });
        });
    </script>
}