@{
    ViewBag.Title = "Home Page";
}

<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    .cursor_pointer {
        cursor: pointer;
    }
    .seen_all {
        font-size: 20px;
        cursor: pointer;
    }
</style>

<main>
    <!-- Header-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Images/banner_3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/banner_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/banner_2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            @if (@ViewBag.ProductNew != null && @ViewBag.ProductNew.Count > 0)
            {
                <div class="row mb-5">
                    <div class="col">
                        <span class="h2">Mới nhất</span>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                    @{
                        int index = 0;
                    }
                    @foreach (var item in @ViewBag.ProductNew)
                    {
                        if (index < 4)
                        {
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top cursor_pointer seen_detail" data-masanpham="@item.MaSanPham" src="@item.URLHinhAnh" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4 cursor_pointer seen_detail" data-masanpham="@item.MaSanPham">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">@item.TenSanPham</h5>
                                            <!-- Product price-->
                                            @item.GiaSanPham.ToString("#,##0").Replace(",", ".") ₫
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto add_to_cart"
                                               href="javascript:void(0)"
                                               data-masanpham="@item.MaSanPham"
                                               data-tensanpham="@item.TenSanPham"
                                               data-giasanpham="@item.GiaSanPham"
                                               data-urlhinhanh="@item.URLHinhAnh">Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        index++;
                    }
                </div>
            }

            @foreach (var item in @ViewBag.ListDanhMuc)
            {
                if (item.SanPham != null && item.SanPham.Count > 0)
                {
                    <div class="row mb-5 align-items-center">
                        <div class="col">
                            <span class="h2">@item.TenDanhMuc</span>
                        </div>
                        @if (item.SanPham.Count > 4)
                        {
                            <div class="col text-end seen_all" data-madanhmuc="@item.MaDanhMuc">
                                <span class="">Xem tất cả ></span>
                            </div>
                        }
                    </div>
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                        @{
                            int index = 0;
                        }
                        @foreach (var item2 in item.SanPham)
                        {
                            if (index < 4)
                            {
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top cursor_pointer seen_detail" data-masanpham="@item2.MaSanPham" src="@item2.URLHinhAnh" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4 cursor_pointer seen_detail" data-masanpham="@item2.MaSanPham">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">@item2.TenSanPham</h5>
                                                <!-- Product price-->
                                                @item2.GiaSanPham.ToString("#,##0").Replace(",", ".") ₫
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center">
                                                <a class="btn btn-outline-dark mt-auto add_to_cart"
                                                   href="javascript:void(0)"
                                                   data-masanpham="@item2.MaSanPham"
                                                   data-tensanpham="@item2.TenSanPham"
                                                   data-giasanpham="@item2.GiaSanPham"
                                                   data-urlhinhanh="@item2.URLHinhAnh">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            index++;
                        }
                    </div>
                }
            }
        </div>
    </section>

    <!-- Thêm các script khác ở đây -->
    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                const myCarouselElement = document.querySelector('#carouselExampleIndicators')

                const carousel = new bootstrap.Carousel(myCarouselElement, {
                    interval: 2000,
                    touch: false
                });

                $(document).on('click', '.seen_detail', function (e) {
                    let data = $(this).data();

                    // Generate the base URL with Razor
                    let url = '@Url.RouteUrl("Default", new { controller = "SanPham", action = "ChiTiet" })';

                    // Navigate to the constructed URL
                    location.href = url += "?MaSanPham=" + data.masanpham;
                });

                $(document).on('click', '.seen_all', function (e) {
                    let data = $(this).data();

                    // Generate the base URL with Razor
                    let url = '@Url.RouteUrl("Default", new { controller = "DanhMucSanPham", action = "Index" })';

                    // Navigate to the constructed URL
                    location.href = url += "?MaDanhMuc=" + data.madanhmuc;
                });
            });
        </script>
    }
</main>